name: whalechat_app
description: A new Flutter application.

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  decimal: ^0.3.0
  faker: ^1.0.0
  firebase_analytics: ^1.0.6
  firebase_messaging: ^2.1.0
  flutter_launcher_icons: ^0.6.1
  flutter_local_notifications: ^0.4.4
  flutter_sodium: any
  fluttertoast: ^2.0.8
  hex: ^0.1.2
  http: ^0.12.0
  image: ^2.0.5
  intl: ^0.15.7
  json_annotation: ^1.2.0
  json_rpc_2: ^2.0.9
  logging: ^0.11.3
  package_info: ^0.3.2
  queries: ^0.1.2
  quiver: ^2.0.0
  sentry: any
  shared_preferences: ^0.4.2
  url_launcher: ^3.0.2
  web_socket_channel: ^1.0.7

flutter_icons:
  android: true
  ios: true
  image_path: "assets/icon/icon.png"
  adaptive_icon_background: "#FFFFFFFF"
  adaptive_icon_foreground: "assets/icon/icon.png"

dev_dependencies:
  json_serializable: ^1.4.0
  build_runner: ^1.0.0
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
